/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
.tao-scope [class*=" btn-"].btn-link, .tao-scope button.btn-link { background: transparent !important; color: #3e7da7 !important; -webkit-text-shadow: none; -moz-text-shadow: none; -ms-text-shadow: none; -o-text-shadow: none; text-shadow: none; }
.tao-scope [class*=" btn-"].btn-link:hover, .tao-scope button.btn-link:hover { text-decoration: underline; }
.tao-scope [class*=" btn-"].btn-link.disabled, .tao-scope button.btn-link.disabled { background: transparent !important; color: #c1d4dc !important; cursor: not-allowed; }

.permission-container table td { min-width: 130px; }
